.button {
    background-color: #4F6A88;
    color: #62BEC1;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    font-weight: 500;
    width: max-content;
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    display: flex;
    justify-content: center;
  }

  .button:active {
    background-color: #475f79;
  }